.profile
{
    width:200px;
    height:200px;
    border-radius:20%;
    padding-left:1%;
}
.profile-card
{
    width:80%;
    height:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.content 
{
  width:70%;
  border-radius:5px;
  padding:2%;

}