*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #fff;
	color: #333;
	padding: 2px;
  box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

header h1 {
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 30px 0;
}


section {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
  border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	margin: 20px;
	padding: 10px;
	text-align: center;
	width: 300px;
  padding-bottom: 50px;
  
  
}


section h2 {
	color: #333;
	margin-top: 0;
}

section .price {
	color: #529eae;
	font-size: 2em;
	margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 550px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  font-size: 20px;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.active{
  color: #0b7c92;
}
button{
  background-color: #d76ca2;
    height: 40px;
    width: 80px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-variant: small-caps;
    border-radius: 10px;
}

section ul {
	list-style: none;
	padding: 0;
}

section li {
	padding-top:10px;
  padding-bottom: 20px;
}


section .btn {
	background-color: #d76ca2;
	border: none;
  text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.2em;
	margin-top: 20px;
	padding: 10px 20px;
  border-radius: 10px;
	font-variant: small-caps;
}

section .btn:hover {
	background-color:  #e47bb0;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.tag{
font-variant: small-caps;
text-align: center;
color: #414141;
}
.tag p{
  color: rgb(120, 120, 120);
}

.basic{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px ;
  
}

/* css for login page  */

.login{
  background-image: url(../Assests/Images/bg1.jpg);
  background-repeat: no-repeat;
}
.wrapper{
  background-color: rgba(245, 245, 245, alpha);
	border: none solid #f5f5f5;
  border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	text-align: center;
	width: 1050px;
  margin-left: 100px;
  margin-right:100px ;
  margin-top: 25px;
}



.wrapper .tag{
  text-align: start;
  color: white;
  padding: 0px;
  
}

.wrapper .tag h1{
  font-size: 40px;
}
 .wrapper .form{
  text-align: start;
 }
 
.wrapper .form h2{
    text-align: center;
  }

  .wrapper .form input{
    border: none;
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    width: 350px;
    height: 30px;
    margin:20px 0 20px 0;
  }
 
  .wrapper .form #check{
    width: 15px;
    }

.wrapper button{
  width: 350px;
}

.wrapper a{
  color: #d76ca2;
}


.wrapper #forgotpwd{
  padding-left: 100px;
  
}




/* css for contact page  */
.contact ul{
  background-color: rgba(255,255,255,0);
   position: relative;  
}

.contact img{
  position: absolute;
  width: 100%;
}
.contact h2{
  position: relative;
  text-align: center;
  font-variant: small-caps;
  font-size: 40px;
  color: #696969;
  margin-top: 80px;
}
.contact .form h2{
font-size: 25px;
padding: 20px;
color: #414141;
}


.contact input[type=text],input[type=tel], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact .box button {
  width: 150px;
  margin-left: 170px;
  margin-bottom: 50px;
}

.contact .box{
  width: 500px;
 margin: 0 400px 0 400px;
  
  justify-content: center;
}

/* css for home  */

.home .tag{
  position: relative;
  margin-top: 50px;
}


.home .tag h1{
  font-size: 80px;
}
.home .tag p{
  font-size: 35px;
  color: #565656;
}

.tag button{
  width: 200px;
  height: 50px;
  border-radius: 0;
}

.usage{
  margin-top: 350px;
  padding-bottom: 50px;
}
.home .usage h1{
  font-variant: small-caps;
  margin: 0px 150px 0 150px;
  text-align: center;
  color: #414141;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  flex-basis: calc(100% / 3);
  box-sizing: border-box;
  border: none;
  padding: 10px;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.content img {
  max-width: 100px;
  height: auto;
}


.features{
  background-color:#f5f5f5 ;
  
}

.container img{
  border-radius: 100px;
}
.container h2{
  color: #414141;
  font-variant: small-caps;
}

.container p{
  color: #414141;
}

.container h1{
  color: #333;
  font-variant: small-caps;
  text-align: center;
  margin: 0;
}
.report {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  padding-top: 50px;
 
}

.report h1 {
  color: #333;
  font-variant: small-caps;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}



.usage main p{
  font-size: 25px;
  font-variant: small-caps;
  color: #565656;
  margin: 10px;
  
}

.usage .div2 p{
  margin-left: -25px;
}

.features p{
  text-align: justify;
}
.logo {
  position: absolute; 
  top: 0;
  left: 0;
  padding: 10px;
} 


.logo img {
  height: 30px;
  width: 190px;
  object-fit: none;
  z-index: 999;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.col-left, .col-right {
  width: 50%;
  padding: 0 40px;
  box-sizing: border-box;
}
.about h1{
  position: relative;
  font-variant: small-caps;
  color: #414141;
  text-align: center;
  margin-top: 100px;
}
.col-right{
  text-align: justify;
  font-size: 18px;
}

.col-right button{
width: 120px;
}


.about .box {
  width: 20%;
  height: 400px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f9f9f9;
	border: 1px solid #ccc;
  border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin: 25px;
  margin-top: 30px;
}
.box, .box1{
  margin-left: 33px;
}
.team h1{
  font-variant: small-caps;
  color: #414141;
  text-align: center;
  margin-top: 100px;
}
.team {
  text-align: center;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1000px;
  margin: 0 auto; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-variant: small-caps;
  font-size: 20px;
  margin-bottom: 50px;
}

td, th {
  border: 1px solid #787878;
  text-align: left;
  padding: 8px;
}



#table-body td a + a::before {
  content: "|";
  margin: 0 10px;
}
 #month{
  font-size: 30px;
  font-variant: small-caps;
  text-align: left;
  text-align: center;
 }

 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 80%;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.bg{
  width: 100%;
}

#myChart{
  width: 1200px !important;
  height: 750px !important;
}


@media only screen and (min-width: 1300px) {
   .usage{
    margin-top: 300px;
  }
 .home .tag h1 {
  font-size: 100px; 
}
.home .tag p {
  font-size: 40px; 
}
.home .tag button {
    font-size: 35px;
    width: 300px;
    height: 100px;
   }
button{
  font-size: 35px;
  width: 150px;
  height: 55px;
}
header ul{
  font-size: 25px;
  margin-left: 320px;
}
.logo img{
  height: 80px;
  width: 230px;
}

.usage h1{
  font-size: 50px;
}
.usage main p{
  font-size: 40px;
}
.features p{
  font-size: 22px;
  }
.features h2{
    font-size: 30px;
    }
.features h1{
    font-size: 45px;
    }
.report h1{
    font-size: 45px;
  }
footer{
    font-size: 30px;
  }
.contact h2{
  font-size: 60px;
}
.about p{
  font-size: 22px;
  }
  
  .about h1{
    font-size: 50px;
  }
  .about .col-right button{
    width: 200px;
    font-size: 25px;
  }
  
  .col-left img{
    width: 550px;
    height: 540px;
  }
   .about .box{
    height:600px ;
   }
   .about h3{
    font-size: 25px;
   }
   .about .box img{
    width: 170px;
    height: 170px;
   }
 .contact .form h2{
  font-size: 40px;
 }
 .contact .form label   {
  font-size: 30px;
 }
.contact .form input   {
  width: 700px;
  height: 65px;
 }
 .contact .form input::placeholder  {
  font-size: 20px;
}
.contact .form textarea::placeholder  {
  font-size: 20px;
}
.tag h1{
font-size: 45px;
}
.tag p{
  font-size: 27px;
  }
section{
  width: 370px;
}
section h2{
  font-size: 35px;
}
section .price {
  font-size: 40px;
}
section li {
  font-size: 24px;
  color:#414141 ;
}
section .btn {
  font-size: 1.7em;
}
.attendanceTable{
  width: 1170px;
  height: 700px;
  font-size: 32px;
  }
  .login{
    background-size: cover;
  }
  .wrapper h2{
    font-size: 40px;
  }
 
  .wrapper {
    width:1090px;
    margin: 0 auto;
    margin-top: 100px;
  }
  #beads{
   visibility: hidden;
  }
 
  .wrapper .tag h1{
    font-size: 55px;
  }
  .wrapper .form #check{
    width: 20px;
    height: 20px;
  }
 .wrapper .form input::placeholder{
  font-size: 20px;
 }
 



.wrapper .form label{
  font-size: 25px;
}
.wrapper .form input{
  width: 450px;
  height: 50px;
}
.wrapper .form p {
  font-size: 25px;
}
.wrapper .form a {
  font-size: 25px;
}
.modal{
  width: 1700px;
}
#employee-details{
  font-size: 33px;
}

}

@media only screen and (min-width: 1600px) {
  .usage{
   margin-top: 450px;
 }
.home .tag h1 {
 font-size: 130px;
 margin-top: 100px; 
}
.home .tag p {
 font-size: 50px; 
}
.home .tag button {
   font-size: 35px;
   width: 320px;
   height: 90px;
  }
header ul{
 font-size: 25px;
 margin-left: 500px;
}

.features p{
font-size: 25px;
}
.features h2{
  font-size: 35px;
  }

.contact h2{
  font-size: 80px;
}
#headImg{
  height: 400px;
}

.about p{
font-size: 26px;
}

.col-left img{
  width: 760px;
  height: 540px;
}
 .about .box{
  height:650px ;
 }
 .about h3{
  font-size: 30px;
 }
 .about .box img{
  width: 200px;
  height: 200px;
 }

 .contact .form input   {
  width: 900px;
  height: 75px;
 }
 .tag h1{
  font-size: 55px;
  }
  .tag p{
    font-size: 32px;
}
section{
  width: 500px;
}
section h2{
  font-size: 40px;
}
section li {
  font-size: 27px;
  color:#414141 ;
}
.attendaceTable{
width: 1450px;
height: 700px;
font-size: 32px;
}
#month{
  font-size: 40px;
}
.wrapper {
  width:1200px;
  margin: 0 auto;
  margin-top: 100px;
}
.wrapper .tag h1{
  font-size: 60px;
}
.modal{
  width: 2000px;
}
#employee-details{
  font-size: 40px;
}
}







